{% extends "base.html" %}
{% block headmeta %}
	<title>Flask Demo</title>
{% endblock %}
{% block scripts %}
    <script type='text/javascript' src="{{ url_for('static',filename='js/index.js') }}"></script>
{% endblock %}
{% block css %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="padded text-center">
    <h1>Flask + Bootstrap Template</h1>
    <form id="example-form" action="/generate-pdf" method="GET">
		<div class='form-group'>
			<div class='form-row p-3'>
				<div class='col-12 col-lg-6'>
					<label for='example-number'>Example Number</label>
					<input class='form-control' type='number' name='example-number' min='1' value='1'>
				</div>

			    <div class='col-12 col-lg-6'>
			    	<label for='example-text'>Example text</label>
			    	<input class='form-control' type='text' name='example-text' placeholder='example text'>
			    </div>
            </div>
            <div class='form-row p-3'>
			    <div class='col-6 offset-3'>
                    <button type="submit" class="btn btn-primary">Generate PDF</button>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock %}